---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1; minimum-scale=1; user-scalable=no;">
        {% if page.desc %}
          <meta content="{{ page.desc }}" name="description">
        {% endif %}
        {% if page.keywords %}
          <meta name="keywords" content="{{ page.keywords }}">
        {% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <meta name="baseurl" content="{{ site.baseurl }}">
      
        <title>
          {% if page.title != "index" %}
              {{ site.title }}|{{ page.title }}
          {% else %}
              {{ site.title }}
          {% endif %}
        </title>
        <!-- favicon -->
        <link rel="shortcut icon" href="../assets/img/favicon.ico">
      
        <!-- Main CSS -->
        <script src="https://kit.fontawesome.com/8434b809b2.js" crossorigin="anonymous"></script>
        <link href="../assets/scripts/app-20180125.min.css" rel="stylesheet">
        <link href= "../assets/css/styles.css" rel="stylesheet">
      
        <!-- Main Scripts -->
        <script src="../assets/scripts/app-20180125.min.js"></script>
        
        
      </head>
    <body id="page-top" class="landing-page">
        {{ content }}
    </body>

</html>